/* You can add global styles to this file, and also import other style files */

button {
    border: 2px solid #868686 !important;
    border-radius: 10px !important;
    width: 100px;
    background-color: #EAEAEA !important;
    margin-left: 10px !important;
}
.header {
    overflow: hidden;
    padding: 2%;
    border-bottom: 1px solid;
    .page-title {
        font-weight: bold;
        font-size: larger;
        float: left;
    }
}
.link {
    cursor: pointer;
    color: #288CBE;
    text-decoration: underline;
    font-weight: bold;
}
.form-errors-text {
    clear: both;
    color: #F61238;
}
.error {
    border: 2px solid #F61238;
}

.error:focus {
    border-color: #F61238;
    box-shadow: 0 0px 0px #F61238 inset, 0 0 0px #F61238;
    outline: 0 none;
}