.home-screen {
    .header {
        .login-nav {
            float: right;
            span {
                padding: 10px;
            }
        }
    }
    .title {
        font-weight: bold;
        font-size: large;
    }
    .valid-msg {
        padding: 10px;
        font-weight: bold;
        color: #0CC345;
    }
    table {
        margin-top: 1%;
        border: 2px solid #000000;
        th {
            background-color: #EAEAEA;
            border: 2px solid #000000;
            padding: 1%;
        }
        td {
            border: 2px solid #000000;
            padding: 1%;
        }
    }
    .nav {
        float: right;
        padding: 1% 2% 4%;
        button {
            border: 0 !important;
            background-color: #FFFFFF !important;
            width: 20px;
        }
        .prev-icon:after {
            content: ' \25C0';
            font-family: auto !important;
        }
        .next-icon:after {
            content: ' \25BA';
            font-family: auto !important;
        }
    }
}