.edit-page {
    span {
        float: right;
    }
    .link {
        margin-left: 9px;
        float: left;
        padding-top: 3px;
        padding-left: 20px;
    }
}
.add-form {
    overflow: hidden;
    padding: 2%;
    .field-title {
        font-weight: bold;
        clear: both;
        width: 100%;
    }
    input, textarea {
        width: 100%;
        margin-top: 1%;
    }
    .form-btn {
        clear: both;
        margin-top: 20px;
        width: 100%;
        .left {
            float: right;
        }
    }
    .form-errors-text {
        float: right;
    }
}
