<div class="header">
  <div class="page-title">Login</div>
</div>
<div class="login-form">
  <span>User Name</span>
  <div>
    <input type="text" [(ngModel)]='userName' [ngClass]="{'error' : invalidUser}" name='userName' (input)="checkUsername($event.target.value)">
  </div>
  <button type="button" class="btn btn-sm login-btn" role="button" [disabled]="!enablelogin"
   (click)="login($event)">Log In</button>
  <div *ngIf="invalidUser" class="form-errors-text">
    Not a valid user name!
  </div>
</div>